.navbar{
display: flex ;
    grid-area: navbar;
    justify-content: left;
      
}
.asidebar{
    grid-area: asidebar;
    background-color: rgba(234, 180, 180, 0.26);   
    
    
}
.footer{
    grid-area: footer;
    height: 25px;
    text-align: center;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    flex-wrap:wrap;
    /* grid-area: productos */
    background-color: rgba(49, 61, 57, 0.324);
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'navbar navbar'
    'asidebar productos'
    'footer footer';
     grid-template-columns: 1fr 3fr;
     height: 100vh;
    
}
/* .box{
    cursor: pointer;
} */

.Categorias{
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(61, 3, 3, 0.733);
    transition: 0.2s;
    }  
.Categorias:hover{
    box-shadow: 2px 2px 5px black;
    
    
    }
.Categorias-1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(2, 72, 20, 0.733);
}

.grid-item{
    text-align: center;
    background-color: rgb(254, 254, 254);   
    border:solid 1px black;   
    margin: 10px;
    transition: 0.2s;
}
.grid-item:hover{
    box-shadow: 2px 2px 5px black;

}
.grid-item img p{
    display: flex;
    border:solid 1px black;
    align-items: stretch;
    

}
.grid-item img{
    height: 340px;
    width: 340px;
    
}
.btn-comprar{
    margin-left:96px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    background-color: rgba(36, 36, 222, 0.747);
    box-shadow: 2px 2px 5px black;
    transition: 0.2s;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-comprar:hover{
    box-shadow: 2px 2px 5px rgb(26, 201, 41);
}

.btn-comprar a{
    text-decoration: none;
    color: aliceblue;
}
.logo img{
    height: 250px;
    width: 250px;
}
.asidebar{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
footer .logo img{
    display: flex;
    align-items: center;
    height: 10%;
    width: 10%;
}
a{
    padding-bottom: 10px;
}